.nav {
    height: 50px;
    padding: 10px;
    background-color: black;
    color:white;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.nav ul {
    list-style: none;
    display:flex;
    justify-content: flex-start;
    align-items: center;

}

.nav ul li a{
    margin: 5px 15px;
}

